GPATH
GTAGS
GRTAGS
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
algo_test
.cquery_cached_index/
*.mpack
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
